@{
    var modelsList = ViewBag.Models as List<CalculateGrade.Models.AIModel> ?? new List<CalculateGrade.Models.AIModel>();
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="d-flex align-items-center">
                <label for="Model1" style="margin: 10px;">Model 1</label>
                <select class="form-control w-50 me-2" id="Model1" name="Model1">
                    @foreach (var aiModel in modelsList)
                    {
                        <option value="@aiModel.Id" selected="@aiModel.IsDefault">@aiModel.DisplayName</option>
                    }
                </select>
                <button type="button" class="btn btn-primary" id="GenerateModel1">
                    Generate
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="d-flex align-items-center">
                <label for="Model2" style="margin: 10px;">Model 2:</label>
                <select class="form-control w-50 me-2" id="Model2" name="Model2">
                    @{
                        var defaultModel2 = modelsList.Where(m => !m.IsDefault).FirstOrDefault()?.Id ?? modelsList.FirstOrDefault()?.Id;
                    }
                    @foreach (var aiModel in modelsList)
                    {
                        <option value="@aiModel.Id" selected="@(aiModel.Id == defaultModel2)">@aiModel.DisplayName</option>
                    }
                </select>
                <button type="button" class="btn btn-primary" id="GenerateModel2">
                    Generate
                </button>
            </div>
        </div>
    </div>
</div> 