
@model CalculateGrade.Models.EvaluateModel
@{
    ViewData["Title"] = "Chấm điểm bài tập";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
    }
    .home {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #3498db;
    }

    .form-group label {
        font-weight: 600;
        color: #2c3e50;
    }

    textarea{
        height: 300px;
    }

    #btnGrade {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    #btnGrade:hover{
        background-color: #218838;
        border-color: #1e7e34;
        box-shadow: 0px 4px 8px rgba(40, 167, 69, 0.3);
    }
    #btnCheckSyllabus {
        background-color: #34495e;
        color: white;
        border: none;
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    #btnCheckSyllabus:hover{
        background-color: #34495e;
        border-color: #34495e;
    }
    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .card-header {
        background-color: #f5f5f5;
        border-bottom: none;
    }

    .card-header h4 {
        font-weight: 600;
    }

    #feedback1, #syllabusMatch1 {
        color: #3498db;
        text-align: left;
        overflow-y: auto;
    }

    #feedback2, #syllabusMatch2 {
        color: #27ae60;
        text-align: left;
        overflow-y: auto;
    }

    .display-4 {
        font-weight: 600;
        color: #007bff;
    }
    ////
    .custom-form {
        background-color: #f8f9fa;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .custom-file-upload {
        position: relative;
        display: block;
        width: 20%;
        margin-bottom: 20px;
    }

    .custom-file-upload input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-upload-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .custom-file-upload-label i {
        margin-right: 10px;
    }

    .custom-file-upload .file-name {
        display: block;
        margin-top: 20px;
        font-size: 1rem;
        color: #6c757d;
    }

    .btn-block {
        width: 100%;
    }

    textarea.form-control {
        resize: vertical; /* Cho phép thay đổi chiều cao của textarea */
    }
    .button-group{
        padding-top: 20px;
    }

    .card-body {
        background-color: #fff;
        border-radius: 0.25rem;
        padding: 1.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        transform: translateY(10px); /* Dịch lên trên 10px */
        transition: all 0.3s ease;
        margin-right: 10px;
        height: 700px;
    }

    .card-body:hover {
        opacity: 1; /* Hiển thị khi hover */
        transform: translateY(0); /* Trở về vị trí ban đầu */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Thêm shadow */
    }

    .dots-5 {
        width: 15px;
        aspect-ratio: 1;
        border-radius: 50%;
        animation: d5 1s infinite linear alternate;
    }

    @@keyframes d5 {
        0% {
            box-shadow: 20px 0 #000, -20px 0 #0002;
            background: #000
        }

        33% {
            box-shadow: 20px 0 #000, -20px 0 #0002;
            background: #0002
        }

        66% {
            box-shadow: 20px 0 #0002,-20px 0 #000;
            background: #0002
        }

        100% {
            box-shadow: 20px 0 #0002,-20px 0 #000;
            background: #000
        }
    }
    #Syllabus{
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 30px;
        overflow-x: auto;
        height: 500px;
    }
    .file-name-requirement,
    .file-names-submission {
        margin-top: 20px;
    }

    .accordion-button {
        font-weight: bold;
    }
</style>

<div class="home">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form id="gradingForm" enctype="multipart/form-data">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Chọn file đề bài
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="form-group custom-file-upload">
                            <label for="requirementFile">Tải lên đề bài (.docx):</label>
                            <input type="file" class="form-control-file" id="requirementFile" name="requirementFile" accept=".docx" required>
                            <label for="requirementFile" class="custom-file-upload-label">
                                <i class="fas fa-file-upload"></i> Chọn file đề bài
                            </label>
                            <div class="file-name-requirement">
                                <p>Không có file nào được chọn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Chọn file bài làm (tối đa 5 file)
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="form-group custom-file-upload">
                            <label for="submissionFile">Tải lên bài làm (.ipynb):</label>
                            <input type="file" class="form-control-file" id="submissionFile" name="submissionFile" multiple>
                            <label for="submissionFile" class="custom-file-upload-label">
                                <i class="fas fa-file-upload"></i> Chọn file bài làm
                            </label>
                            <div class="file-names-submission">
                                <p>Không có file nào được chọn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Syllabus
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="form-group">
                            <div id="Syllabus" contenteditable="true">@Html.Raw(Model.Syllabus)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Chọn Model
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Model1">Model 1:</label>
                                    <select class="form-control" id="Model1" name="Model1">
                                        <option value="gemini-1.5-flash-002" selected>gemini-1.5-flash</option>
                                        <option value="gemini-1.5-pro-002">gemini-1.5-pro</option>
                                        <option value="mixtral-8x7b-32768">mixtral-8x7b-32768</option>
                                        <option value="llama3-8b-8192">llama3-8b-8192</option>
                                        <option value="gemma2-9b-it">gemma2-9b-it</option>
                                        <option value="llama-3.2-3b-preview">llama-3.2-3b-preview</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Model2">Model 2:</label>
                                    <select class="form-control" id="Model2" name="Model2">
                                        <option value="gemini-1.5-flash-002">gemini-1.5-flash</option>
                                        <option value="gemini-1.5-pro-002">gemini-1.5-pro</option>
                                        <option value="mixtral-8x7b-32768">mixtral-8x7b-32768</option>
                                        <option value="llama3-8b-8192">llama3-8b-8192</option>
                                        <option value="gemma2-9b-it" selected>gemma2-9b-it</option>
                                        <option value="llama-3.2-3b-preview">llama-3.2-3b-preview</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="form-group custom-file-upload">
            <label for="requirementFile">Tải lên đề bài (.docx):</label>
            <input type="file" class="form-control-file" id="requirementFile" name="requirementFile" accept=".docx" required>
            <label for="requirementFile" class="custom-file-upload-label">
                <i class="fas fa-file-upload"></i> Chọn file đề bài
            </label>
            <div class="file-name-requirement">
                <p>Không có file nào được chọn</p>
            </div>
        </div>

        <div class="form-group custom-file-upload">
            <label for="submissionFile">Tải lên bài làm (.ipynb):</label>
            <input type="file" class="form-control-file" id="submissionFile" name="submissionFile" multiple>
            <label for="submissionFile" class="custom-file-upload-label">
                <i class="fas fa-file-upload"></i> Chọn file bài làm
            </label>
            <div class="file-names-submission">
                <p>Không có file nào được chọn</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Syllabus">Syllabus:</label>
            <div id="Syllabus" contenteditable="true">@Html.Raw(Model.Syllabus)</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Model1">Model 1:</label>
                    <select class="form-control" id="Model1" name="Model1">
                        <option value="gemini-1.5-flash-002">gemini-1.5-flash</option>
                        <option value="gemini-1.5-pro-002">gemini-1.5-pro</option>
                        <option value="mixtral-8x7b-32768">mixtral-8x7b-32768</option>
                        <option value="llama3-8b-8192">llama3-8b-8192</option>
                        <option value="gemma2-9b-it">gemma2-9b-it</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Model2">Model 2:</label>
                    <select class="form-control" id="Model2" name="Model2">
                        <option value="gemini-1.5-flash-002">gemini-1.5-flash</option>
                        <option value="gemini-1.5-pro-002">gemini-1.5-pro</option>
                        <option value="mixtral-8x7b-32768">mixtral-8x7b-32768</option>
                        <option value="llama3-8b-8192">llama3-8b-8192</option>
                        <option value="gemma2-9b-it">gemma2-9b-it</option>
                    </select>
                </div>
            </div>
        </div>*@
        <div class="button-group">
            <button type="button" class="btn btn-primary mr-2" id="btnGrade">               
                Chấm điểm
            </button>
            <button type="button" class="btn btn-secondary" id="btnCheckSyllabus">
                Kiểm tra Syllabus
            </button>
        </div> 
    </form>

    <div class="row mt-5" id="results" style="display:none;">
        <div class="col-md-6">
            <div class="card-body d-flex flex-column">
                <div class="loading-container d-flex align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <div class="dots-5" id="loadingFeedback1" role="status" aria-hidden="true" style="display:none"></div>
                </div>
                <div id ="feedback1">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body d-flex flex-column">
                <div class="loading-container d-flex align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <div class="dots-5" id="loadingFeedback2" role="status" aria-hidden="true" style="display:none"></div>
                </div>
                <div id="feedback2">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" id="resultsSyllabus" style="display:none;">
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <div class="card-body flex-grow-1 overflow-auto">
                    <div class="loading-container d-flex align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="dots-5" id="loadingSyllabusMatch1" role="status" aria-hidden="true" style="display:none"></div>
                    </div>
                    <div id="syllabusMatch1">
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <div class="card-body flex-grow-1 overflow-auto">
                    <div class="loading-container d-flex align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="dots-5" id="loadingSyllabusMatch2" role="status" aria-hidden="true" style="display:none"></div>
                    </div>
                    <div id="syllabusMatch2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        //const fileInputs = document.querySelectorAll('.custom-file-upload input[type="file"]');
        const submissionFileInput = document.getElementById('submissionFile');
        const requirementFileInput = document.getElementById('requirementFile');
        const fileNameRequirementContainer = document.querySelector('.file-name-requirement');
        const fileNamesSubmissionContainer = document.querySelector('.file-names-submission');

        function displayFileNames(input, container) {
            container.innerHTML = '';

            if (input.files.length > 0) {
                for (let i = 0; i < input.files.length; i++) {
                    const fileName = input.files[i].name;
                    const fileElement = document.createElement('p');
                    fileElement.textContent = `${i + 1}. ${fileName}`;
                    container.appendChild(fileElement);
                }
            } else {
                const noFileElement = document.createElement('p');
                noFileElement.textContent = 'Không có file nào được chọn';
                container.appendChild(noFileElement);
            }
        }

        submissionFileInput.addEventListener('change', function () {
            displayFileNames(this, fileNamesSubmissionContainer);
        });

        requirementFileInput.addEventListener('change', function () {
            displayFileNames(this, fileNameRequirementContainer);
        });       
        
        $(document).ready(function () {
            $("#btnGrade").click(function () {
                if (validateGrading()) {
                    $("#results").show();
                    $("#loadingFeedback1").show();
                    $("#loadingFeedback2").show();
                    scrollToElement('#results');
                    submitForm('@Url.Action("Grade", "Home")');
                }               
            });

            $("#btnCheckSyllabus").click(function () {
                if (validateSyllabus()) {
                    $("#resultsSyllabus").show();
                    $("#loadingSyllabusMatch1").show();
                    $("#loadingSyllabusMatch2").show();
                    scrollToElement('#resultsSyllabus');
                    submitFormSyllabus('@Url.Action("CheckSyllabus", "Home")');
                }               
            });
        });
        function validateSyllabus() {
            // Kiểm tra xem có file được chọn cho input "requirementFile" hay không
            if ($('#requirementFile')[0].files.length === 0) {
                alert('Vui lòng chọn file đề bài!');
                return false;
            }

            // Kiểm tra nội dung syllabus
            const syllabus = document.getElementById("Syllabus");

            if (syllabus.textContent.replace(/\s/g, '') === "") {
                alert('Vui lòng nhập nội dung Syllabus!');
                return false;
            }

            return true; // Form hợp lệ
        }
        function validateGrading(){
            if ($('#requirementFile')[0].files.length === 0) {
                alert('Vui lòng chọn file đề bài!');
                return false;
            }
            if ($('#submissionFile')[0].files.length === 0) {
                alert('Vui lòng chọn file bài giải!');
                return false;
            }
            return true;
        }
        function submitForm(url) {
            var formData = new FormData();
            var syllabus = document.getElementById("Syllabus").textContent;
            // Lấy giá trị từ các input và thêm vào FormData
            formData.append("requirementFile", $("#requirementFile")[0].files[0]);
            formData.append("Syllabus", syllabus);
            formData.append("Model1", $("#Model1").val());
            formData.append("Model2", $("#Model2").val());
            // Lấy tất cả file trong input "SolutionFiles"
            $.each($("#submissionFile")[0].files, function (i, file) {
                formData.append('submissionFile[' + i + ']', file);
            });

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#feedback1").html(response.evaluation);
                    $("#feedback2").html(response.evaluationMixtral);
                    $("#loadingFeedback1").hide();
                    $("#loadingFeedback2").hide();
                },
                error: function () {
                    alert("Đã xảy ra lỗi.");
                    $("#feedback1").html('đã xảy ra lỗi');
                    $("#feedback2").html('đã xảy ra lỗi');
                    $("#loadingFeedback1").hide();
                    $("#loadingFeedback2").hide();
                }
            });
        }
        function submitFormSyllabus(url) {
            var formData = new FormData();
            var syllabus = document.getElementById("Syllabus").textContent;
            // Lấy giá trị từ các input và thêm vào FormData
            formData.append("requirementFile", $("#requirementFile")[0].files[0]);
            formData.append("Syllabus", syllabus);
            formData.append("Model1", $("#Model1").val());
            formData.append("Model2", $("#Model2").val());
            // Lấy tất cả file trong input "SolutionFiles"
            $.each($("#submissionFile")[0].files, function (i, file) {
                formData.append('submissionFile[' + i + ']', file);
            });

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#syllabusMatch1").html(response.syllabusCheckResult);
                    $("#syllabusMatch2").html(response.syllabusMixtral);
                    
                    $("#loadingSyllabusMatch1").hide();
                    $("#loadingSyllabusMatch2").hide();
                },
                error: function () {
                    alert("Đã xảy ra lỗi.");
                    $("#loadingSyllabusMatch1").hide();
                    $("#loadingSyllabusMatch2").hide();
                }
            });
        }
        function scrollToElement(elementId) {
            const element = document.querySelector(elementId);

            if (element) {
                // Sử dụng `element.scrollIntoView()` để scroll đến element
                element.scrollIntoView({
                    behavior: 'smooth', // Scroll mượt mà
                    block: 'start' // Căn chỉnh element với đầu màn hình
                });
            }
        }
        $(document).ready(function () {
            // Kiểm tra giá trị của Syllabus
            var syllabusContent = $("#Syllabus").text().trim(); // Lấy nội dung text và loại bỏ khoảng trắng
            if (syllabusContent !== "") { // Kiểm tra xem có nội dung hay không
                $("#collapseThree").addClass("show"); // Mở rộng item accordion
                $("#collapseThree").prev().find(".accordion-button").removeClass("collapsed").attr("aria-expanded", "true"); // Cập nhật trạng thái button
            }
        });
    </script>
}